.nav-link:hover {
    cursor: pointer;  
    color: gold !important; 
}
#italic {
    font-style:italic
}
.card {
    width: 24%;
}
/* Show line breaks within the note body */
.card-text {
    white-space: pre-line;
}






